// Place all the styles related to the dandelions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body .data-wrapper .content-wrapper {
    margin-left: 70px;
}

a{
	color :white;
}

.return{
	position: absolute;
    top: 45px;
    left: 40px;
    z-index: 100;
    img{
    	width: 24px;
    }
}

#indiv-sensor{
	margin-left: 20px;
}

.indiv-sensor-data{
	.longtitude{
		margin-left: 135px;
	}
}
.row{
    display: inline-block;
    //width: 2%;
}
.cell-color{
    background-color: #5488C9;
    width: 90%;
    height: 33px;
    border-radius: 3px;
    margin: 0 auto;
    margin-left: 2px;
    margin-top: 2px;
}

.highlights{
    background-color:rgba(255, 255, 255, 0.04);
    border: 1px solid #5797E3 !important;
}


ul.legend{
    display: inline-block;
    width: auto;
    position: absolute;
    right: 0px;
    margin-right: 30px;
    li{
        display: inline-block;
        width: auto;
        margin-left: 10px;
        width: auto;
        p{
            display: inline-block;
            font-size: 10px;
            color: rgba(255, 255, 255, 0.6);
            margin-top: 8px;
            letter-spacing: 1px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .legend-circle{
            width: 8px;
            height: 8px;
            margin-right: 5px;
            display: inline-block;
            border-radius: 50%;
            background-color: #5488C9;
        }
    }//li
}//legend

.header-action{
    width: 22%;
}
.header-moisture-level{
    width: 15%;
}
.irrigation-action{
    font-size: 13px;
    width: 22%;
}
#irrigation-listing{
    margin-bottom :20px;
}
#irrigation-listing:hover{
    border: 1px solid rgba(150, 150, 150, 0.3);
    background: transparent;
}
#irrigation-moisture{
    width: 15%;
    min-width: inherit;
}

.aButton{
    font-weight: 500;
    letter-spacing: 1px;
    background: transparent;
    color: #4798FA;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
}
.aButton:hover{
    background: #4798FA;
    color: white;
    border: 2px solid #4798FA;
}

.aButtonStyle{
    background: #4798FA;
    color: white;
    border: 2px solid #4798FA;
}
.irrigation-button{
    width: 75px;
}
.irrigation-expand{
        margin-left: 30px;
    img{
        width: 18px;
        margin-bottom: -5px;
    }
}
.expand-rotation{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.irrigation-details{
    display: block;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
    margin-top: 20px !important; 
    margin-right: 20px;
    h2{
        font-weight: 800;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 15px;
    }
    li{
        font-size: 13px;
        display: block; 
        width: 100%;
        span{
            font-weight: bold;
            color: #4798FA;
            text-decoration: underline;
        }
    }
}